html, body {
        overflow-x:hidden;
    }
body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
        font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
h1 {
    font-weight:900;
}
h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
}

/* GRID ------------------------------------------------------------------------------ */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear:both;
}
.one-half, .one-third, .one-fourth {

    float:left;
    position: relative;
    min-height:100px;
    margin:0 2% 20px;
}

.container_full {
    margin:0;
    padding:0;
}
.one-half_full, .one-third_full, .one-fourth_full, user1, user2, user3 {
    float:left;
    position: relative;
    margin: 0 0 20;
    min-height:700px;
}

/* Media Queries --------------------------------------------------------------------- */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .one-half {
        width:46%;
    }
    .one-third {
        width:29.33333%
    }
    .one-fourth {
        width:21%;
    }
    .one-half_full {
        width:50%;
    }
    .one-third_full {
        width:33.3333%;
    }
    .one-fourth_full {
        width:25%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1900px) {
    .container {
        width: 1840;
    }
}

/* HEADER ---------------------------------------------------------------------------- */
header {
    color:#FFFFFF;
    height: 100vh;
    background-image: url(../img/dashboard-background.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
header nav {
    padding:1em 0;
}
header nav ul {
    display:inline;
    text-align: right;
    float:right;
    margin:0;
}
header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
}
header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
}
header nav ul > li > a {
   color:#FFFFFF;
    font-family: Raleway-Black;
    font-size:24px;
   text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
   color:#34495E;
}
header .hero {
    text-align: center;
    display: block;
    position: relative;
}
header .hero h1{
    font-size: 58px;
    margin: 95px 0 40;
    font-weight: 900;
}
header .hero p {
    font-size: 44px;
    line-height: 51px;
    font-weight: 100;
    margin: 10px 0 80px;
}

/* BUTTONS --------------------------------------------------------------------------- */
.btn {
    border-radius:4px;
    color:#2880bf;
    font-weight: 900;
    font-size 28px;
    font-weight: 900;
    text-decoration: none;
    padding: 10px 30px;
    background: #ffd36d;
    border: 2px solid #ffd36d;
    box-shadow: 1px 2px 0px 0px #9b9b9b;
}

/* BENEFITS -------------------------------------------------------------------------- */
.benefits {
    text-align: center;
    display:block;
    position:relative;
}
.benefits >div {
    margin: 0 auto;
    padding:4em 0;
}
.benefits>div>div {
    list-style-type: none;
    display: inline-block;
}
.benefits i {
    font-size:55px;

}
.benefits>div div> .notes {
    position: relative;
    left:-125px;
    height:270px;
}
.benefits>div>div> .images {
    position: relative;
    left:80px;
    height:270px;
}
.benefits>div div> .links {
    position: relative;
    left:-100px;
    height:270px;
}
.benefits>div>div h2 {
    font-weight: 900;
}

.benefits>div>div p {
    font-weight: 300;
}
.benefits>div>div .purple_title {
    color:#AC27C3;
}
.benefits>div>div .red_title {
    color: #E5463B;
}
.benefits>div>div .green_title {
    color: #75AC38
}
.benefits>div>div .discription {
    margin-top: 40px;
}

/* PRICING --------------------------------------------------------------------------- */
.pricing {
    text-align:center;
    padding:4em 0;
}
.pricing h2, .pricing p {
    color:#2880BF;
}
.pricing h2 {
    font-weight: 900;


}
.pricing p {
    font-weight: 300;
    padding: 10px 270px;
}
.pricing ul {
    margin:0 auto;
    padding:0 0;
}
.pricing ul li {
    list-style-type:none;
}
.box {
   padding:0 15px 15px;
   /* tutorial
        background: #FFFFFF;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    */
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
.box h3 {
    font-family: "Raleway-Bold", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
        /*tutorial
        background: #E2E2E2;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
        */
    left:0;
    right:0;
    top:0;
    text-align: center;
    margin:0 -15px 40px;
    padding:10px 0;
 }
.box h4 {
    font-weight: 300;
    font-size:50px;
    margin:40px 0 10px;
    color:#2880BF;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: middle;
 }
 .box h4 span.month {
   font-weight: 300;
   color:#000000;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 300;
 }
.box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
     font-size: 12px;
     line-height: 15px;
     font-style:italic;
 }

/* TESTIMONIALS----------------------------------------------------------------------- */

.item_top {
    position: relative;
    top: 130px;
    left:15px;
    right:15px;
    text-align: center;
}
.item_top2 {
    position:relative;
    top: 130px;
    left:15px;
    right:15px;
    text-align: center;

}
.container_full {
    overflow: hidden;

}
.testimonials blockquote, .testimonials .name {
    position:absolute;
    margin: 30px 90px;
}
.user1, .user2, .user3 {
    top:-100px;
    z-index: -1;
}
.user1 {
    background-image: url(../img/testimonial_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.user1>blockquote {
    bottom: 7em;
    left:4em;
    right: -3em;
}
.user1>p {
    bottom: 1em;
    left:4em;
    right: -3em;
}
.user2 {
    background-image: url(../img/testimonial_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.user2>blockquote {
    bottom: 7em;
    padding:0 .5em;
}
.user2>p {
    bottom: 1em;
    left:.5em;
    right:.5em;
}
.user3 {
    background-image: url(../img/testimonial_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.user3>blockquote {
    bottom: 7em;
    left:-3em;
    right: 4em;
}
.user3>p {
    bottom: 1em;
    left:-3em;
    right: 4em;
}

/* FOOTER----------------------------------------------------------------------------- */
footer {
    background-color: #8BBDE5;
    background-image: linear-gradient(to bottom right, #6EA6D4 0%, #9ECFF5 100%);
    color: #FFFFFF;
    height: 150px;
    position: relative;
    overflow: hidden;
    z-index: 0;
 }
footer p, footer nav ul {
    font-size:11px;
    font-weight:100;
    text-align: center;
    margin: 10px auto 0;
 }
footer nav ul li {
    list-style-type: none;
    display: inline;
 }
footer nav ul li a {
    color:#FFFFFF;
    text-decoration: none;
 }
footer .right-footer-block {
    background-color: transparent; 
 }
footer .logo{
    padding: 2.35em 0;
    margin: 0 auto;
    display: block;
    height: 93px;
}

@media (min-width: 992px){
    footer{
        background-color: #8BBDE5;
        background-image: linear-gradient(to bottom right, #6EA6D4 0%, #9ECFF5 100%);
        height: 100px;
    }
    footer p, footer nav ul{
        padding: 3em 0;
        text-align: left;
    }

    footer .logo{
        padding: 0 0 2em 0;
    }
}

@media (min-width: 768px){
    footer{
        background-color: #8BBDE5;
        background-image: linear-gradient(to bottom right, #6EA6D4 0%, #9ECFF5 100%);
        height: 100px;
    }
    footer p, footer nav ul{
        padding: 3em 0;
        text-align: left;
    }

    footer .logo{
        padding: 0;
    }
}

@media (min-width: 1200px) {
    footer p, footer nav ul {
        font-size:14px;
        font-weight:100;
        text-align: center;
        margin: 10px auto 0;
 }
}


/* DASHBOARD-------------------------------------------------------------------------- */
.dashboard {
    background: #F7F7F7;
}
/* LEFT NAV-------------------------------------------------------------------------- */
.left-nav {
    /* height:100vh;    100/100 vertical height */
    height: 100%;
    /* width: 14.6666667%; */
    width: 280px;
    /* color: #FFFFFF;
    background: #6EA6D4;
    background-image: linear-gradient(-135deg, #6EA6D4 0%, #9ECFF5 100%);
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.50);
    float: left;
    position: fixed; */
    position: absolute;
    /* display: block; */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
    display:block;
    width:280px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(0,0);
        -webkit-transform: translate(0,0); /** Chrome & Safari **/
        -o-transform: translate(0,0); /** Opera **/
        -moz-transform: translate(0,0); /** Firefox **/
        z-index: 100;
 }
.hamburger {
    position:absolute;
    z-index: 1000;
    background:#34495E;
    color:#FFF;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 4px;
    left: 5px;
    top: 15px;
 }
.left-nav .site-logo {
    padding: 10px 0;
    background: #2880BF;
    display: block;
    text-align: center;
}
.left-nav .items {
    padding: 0 6%;
}
.left-nav .items p {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 15px;
}
.left-nav .items ul {
    margin:0 0 40px;
    padding: 0;
}
.left-nav .items li {
    list-style-type: none;
    margin-bottom:  15px;
}
.left-nav .items ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}
.left-nav .items ul li a i {
    width:16px;
    text-align: center;
    margin-right: 8px;
}
.left-nav .active {
    background: #8BBDE5;
    margin-left:-7%;
    margin-right: -7%;
    margin-top: -3%;
    margin-bottom: -3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
}
/* LEFT NAVBAR MEDIA QUERIES -------------------------------------------------------------- */
@media *min-width:992px) {
    .left-nav {
        height:100vh;    /* 100/100 vertical height */
        width: 14.6666667%;
        color: #FFFFFF;
        background: #6EA6D4;
        background-image: linear-gradient(-135deg, #6EA6D4 0%, #9ECFF5 100%);
        box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.50);
        float: left;
        position: fixed; 
        display: block;
        transform: translate(0,0);
        -webkit-transform: translate(0,0); /** Chrome & Safari **/
        -o-transform: translate(0,0); /** Opera **/
        -moz-transform: translate(0,0); /** Firefox **/
    }
    .left-nav.open {
        width:14.66666667%;
        transform: translate(0,0);
        -webkit-transform: translate(0,0); /** Chrome & Safari **/
        -o-transform: translate(0,0); /** Opera **/
        -moz-transform: translate(0,0); /** Firefox **/
    }
    .hamburger {
        display: none;
    }    
   
}
    
/* LEFT NAVBAR SETTINGS -------------------------------------------------------------- */
.left-nav .settings {
    position: absolute;
    background: #2880BF;
    width:100%;
    bottom: 0;
    left:0;
    right: 0;
    padding: 10px 0;
}
.left-nav .settings img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}
.left-nav .settings p {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.left-nav .settings a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}

/* CONTENT --------------------------------------------------------------------------- */
.content {
    padding: 6em 1% 1.5em;
    float:right;
    width:98%;
    position: relative;
}
.content .header {
    margin: 0 20px;
}
.content .header h1 {
    font-family: 'Raleway',Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0 0 30px;
    font-size: 36px;
    color: #2398DB;
    line-height: 44px;
    float: left;
    display: inline-block;
}
.content .header > a {
    float: right;
}
.content-item {
    width: 96%;
    margin: 0 2% 25px;
    float: left;
    display: block;
}
.item-box {
    display:block;
    height:230px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
    position: relative;
    overflow: hidden;
    padding:25px;
 }
.note-box {
    background: #FFFBC9;
}


/* LARGER MOBILE DEVICES ------------------------------------------------------------- */
@media (min-width: 460px) {
    .content {
        padding: 1.5em 1%;
        float: right;
        width: 90%;
        position: relative;
    }
    .content-item {
        width: 46%;
        margin: 0 2% 25px;
        float: left;
        display: block;
    }
}
/* TABLETS --------------------------------------------------------------------------- */
@media (min-width: 768px) {
    .content {
        padding: 1.5em 5%;
        float: right;
        width: 90%;
        position: relative;
    }
    .content > .container {
        width: 700px;
    }
    .content-item {
        width: 31.33333%;
        margin: 0 1% 25px;
    }
}
/* LAPTOPS AND DESKTOPS -------------------------------------------------------------- */
@media (min-width: 992px) {
    .content {
        padding: 1.5em 1%;
        float: right;
        width: 83.33333333%;
        position: relative;
    }
    .content > .container {
        width: auto;
    }
    .content-item {
        width:23%;
        margin: 0 1% 25px;
    }
}

/* ITEMS FORMATING ------------------------------------------------------------------- */
.item-box > img {
    position:absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 50%; /* move the image to the left by 50% of the width of the container */
    /* right: 0; /don't need this anymore */
    transform: translate(-50%); /* move the image to the left by 50% of the width of of itsself */
}
.item-box h2 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
}
.item-box h2 a {
    color: #4A4A4A;
    text-decoration: none;
}
.item-box h2 img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    margin-right: 5px;
}
.item-box p {
    font-size: 12px;
    color: #333333;
    line-height: 16px;
    margin: 5px 0 0;
    font-weight: 300;
}